---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      plex:
        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 988
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.41.8.9834
            env:
              PLEX_ADVERTISE_URL: https://10.3.0.136:32400,https://plex.greyrock.dev:443
              PLEX_NO_AUTH_NETWORKS: 10.244.0.0/16
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 100m
              limits:
                gpu.intel.com/i915: 1
                memory: 9248M

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.3.0.136
        ports:
          http:
            port: 32400

    persistence:
      config:
        existingClaim: plex-config
        advancedMounts:
          plex:
            app:
              - path: /config
      plex-cache:
        existingClaim: plex-cache
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Logs
                subPath: log
              - path: /transcode
                subPath: transcode
      nfs-nas1-media:
        type: nfs
        server: nas1.greyrock.internal
        path: /var/nfs/shared/Media
        advancedMounts:
          plex:
            app:
              - path: /data/nas1-media/Library
                subPath: Library
      nfs-nas2-media:
        type: nfs
        server: nas2.greyrock.internal
        path: /var/nfs/shared/Media
        advancedMounts:
          plex:
            app:
              - path: /data/nas2-media/Library
                subPath: Library
      nfs-nas3-media:
        type: nfs
        server: nas3.greyrock.internal
        path: /var/nfs/shared/Media
        advancedMounts:
          plex:
            app:
              - path: /data/nas3-media/Library
                subPath: Library

    route:
      app:
        hostnames:
          - plex.greyrock.dev
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
